
nav {
    background-color: #fafcfb;
    padding: 1em 15em;
    text-align: center;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  .detalle{
    color: #f00dca;
  }
  nav ul li {
    margin-right: 1em;
  }

  a {
    font-size: 2em;
    color: #252425;
    text-align: center;
    text-decoration: inherit;
    
  }

  a:hover {
    color: #f00dca;
  }
  
  
  ul {
    padding: 0;
  }
  
  ul li {
    margin: 1em 0;
  }

  p {
    color: rgb(12, 12, 12)
  }

  @media (max-width: 390px) and (max-width: 430px)  {
    .product-card {
      padding: 1em;
    }

    .home-container {
      position: relative;
      left: 8%;
      padding: 3em;
    }
    
    .home-content {
      padding: 5em;
      margin-top: -66%;
    }

    header {
      width: 102% ;
    }
}

  
