.footer {
    background-color: rgb(252 204 229);
    color: white;
    text-align: center;
    padding: 1em;
    position: absolute;
    width: 76%;
  }
  
.footer p {
  margin: 0%;
}

@media (min-width: 820px) and (max-width: 1024px) {
   .footer {
    padding: 1em 0.1em;
    width: 100%;
   }

}
@media (min-width: 390px)and (max-width: 430px){
    .footer {
     padding: 1em 4em;
     width: 100%;
    }
 
 }